@import "./variables";
@import "./detail";
@import "./profile";
@import "./home";
@import "./login";
@import "./reservation-modal";

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Mogra", cursive;
}

h4 {
    text-align: center;
    font-family: "Mogra", cursive;
}

body {
    font-family: "Mogra", cursive;
    margin: 0;
}

.loader {
    margin: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
